<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="http://www.naxex-tech.com/favicon.ico" type="image/x-icon" rel="shortcut icon">
    <link href="http://www.naxex-tech.com/favicon.ico" type="image/x-icon" rel="icon">
    <title>@ViewBag.Title - Xgag</title>
    @Styles.Render("~/Content/css")
    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css" />
    <link href="~/Content/magicsuggest-min.css" rel="stylesheet" />
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="/Home/Index">
                    <img src="http://www.naxex-tech.com/images/naxex-homelogo" class="navbar-brand" height="55" />
                </a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    @*<li>
                        <a href="/Home/Upload">
                            <span class="glyphicon glyphicon-upload"></span>
                            Upload
                        </a>
                    </li>*@
                    <li>
                        <a href="/Quotes">
                            <span class="glyphicon glyphicon-comment"></span>
                            Quotes
                        </a>
                    </li>
                    <li>
                        <a href="/Quotes/Code">
                            <span class="glyphicon glyphicon-align-left"></span>
                            Code Quotes
                        </a>
                    </li>
                    <li>
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <span class="glyphicon glyphicon-picture"></span>
                            Meme Generator
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="https://imgflip.com/memegenerator" target="_blank">imgflip</a></li>
                            <li><a href="https://memegenerator.net/" target="_blank">MemeGenerator.net</a></li>
                            <li><a href="https://makeameme.org/memegenerator target="_blank"">MakeAMeme</a></li>
                            <li><a href="http://memeful.com/generator" target="_blank">Memeful</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="/Home/ShitList">
                            <span class="glyphicon glyphicon-thumbs-down"></span>
                            Shit list
                        </a>
                    </li>
                    <li>
                        <a href="/Home/GoodGuyList">
                            <span class="glyphicon glyphicon-thumbs-up"></span>
                            Good Guy list
                        </a>
                    </li>
                    <li>
                        <a href="/Home/ChitChats">
                            <span class="glyphicon glyphicon-bullhorn"></span>
                            Chit-Chats
                        </a>
                    </li>
                    @*<li>@Html.ActionLink("About", "About", "Home")</li>
                        <li>@Html.ActionLink("Contact", "Contact", "Home")</li>*@
                </ul>
                @Html.Partial("_LoginPartial")
                @Html.Partial("_RemainingVotesPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Xgag</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    <script type='text/javascript' src='https://cdnjs.cloudflare.com/ajax/libs/knockout/3.4.1/knockout-min.js'></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
    <script src="https://cdn.rawgit.com/google/code-prettify/master/loader/run_prettify.js?skin=sunburst"></script>
    <script src="~/Scripts/magicsuggest-min.js"></script>
    <script>
        toastr.options = {
            "closeButton": true,
            "debug": false,
            "newestOnTop": false,
            "progressBar": true,
            "positionClass": "toast-bottom-full-width",
            "preventDuplicates": false,
            "onclick": null,
            "showDuration": "300",
            "hideDuration": "1000",
            "timeOut": "5000",
            "extendedTimeOut": "1000",
            "showEasing": "swing",
            "hideEasing": "linear",
            "showMethod": "slideDown",
            "hideMethod": "slideUp"
        }
    </script>
    @RenderSection("scripts", required: false)
</body>
</html>
